.body{
    margin-left: 17%;
    margin-right: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 1280px;
    height: 1000px;
}

.box_text{
    position: absolute;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    word-wrap: break-word;
    width: 280px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--purple, #3D348B);
    line-height: 140%; /* 22.4px */
    
}

.h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 56px */
}

.near_text,
.near_text2,
.near_text3 {
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--blue, #5DB7DE);
    color: var(--white, #FFF);
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    align-items: center;
}

.near_text {
    margin-left: 24%;
    margin-top: 5%;
}

.near_text2 {
    margin-left: 24%;
    margin-top: 2.5%;
}

.near_text3 {
    margin-left: 24%;
    margin-top: 2%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin-left: 45%;
    margin-top: -22%; /* Добавим отступ сверху для контейнера с кнопками */
}

.big_button {
    border-radius: 20px;
    background: var(--purple, #3D348B);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start; /* Изменяем способ позиционирования кнопок */
}

.text1{
    color: var(--white, #FFF);
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-top: 3%;
}

.text2{
    font-family: 'PT Sans', sans-serif;
    color: var(--white, #FFF);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 26.6px */
    margin-top: 33%;
}