body{
    overflow-x:hidden
}
.picture_container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2%;
}

.texth1 {
    position: absolute;
    top: 35%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px; 
    color: var(--white, #FFF);
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 500px;
    display: block;
}


.texth3 {
    position: absolute;
    margin-top: 5%;
    top: 43%; 
    left: 26%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px; 
    color: var(--white, #FFF);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 350px;
    display: block;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    position: absolute;
    top: 24%; 
    left: 68%;
    transform: translateX(-50%);
}

.big_button {
    border-radius: 20px;
    background: var(--blue, #5DB7DE);
    width: 306px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 118px;
}

.other{
    position: absolute;
    top: 64%; 
    left: 17%;
    font-family: 'PT Sans', sans-serif; 
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 1.6px;
}

.other_pic{
    position: absolute;
    top: 64.5%;
    left: 24.3%;
    width: 40px;
}


.text1{
    color: var(--white, #FFF);
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-top: 3%;
}

.text2{
    font-family: 'PT Sans', sans-serif;
    color: var(--white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 26.6px */
    margin-top: 15%;
    
}
